.principal{
    height: 800px;
    width: 600px;
    background-color:  #038c4c;

    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.cabecario{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -80px;
}
img{
    height: 20%;  
    margin-top: -20px;  
}