.principal{
    height: 800px;
    width: 600px;
    background-color:  #038c4c;

    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.cabecario{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
}
img{
    height: 20%;  
    margin-top: -20px;  
}
fieldset {
   
    padding: 20px; 
    margin-bottom: 20px;
  }
  
  legend {
    font-weight: bold; 
    margin-bottom: 10px; 
  }


  .Formulario{
    border: 1px solid black;
  }
  