*{
  margin: 0;
  padding: 0;
}

.principal{
    height: 100%;
    width: 100%;
    background-color:  #00995d;

    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.cabecario{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
}

img{
    height: 120px;  
    margin-top: 10px;
}
fieldset {
   
    padding: 20px; 
    margin-bottom: 20px;
  }
  
  legend {
    font-weight: bold; 
    margin-bottom: 10px; 
  }

  .teste{
    display: flex;
    flex-wrap: wrap;
  }

  form{
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    gap: 20px;
    height: 70%;
  }

  .formulario{
    border: 1px solid black;
    width: 70%;
    background-color: #00995d;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;   
    list-style: none;
    flex-direction: row;
  }
  ::backdrop{
    background-color: #ece3d9;
  }
  label {
    display: block; 
    margin-bottom: 10px; 
  }
  
  input,textarea {

    margin-bottom: 20px;
  }
  div {
    margin-bottom: 20px; 
  }
  .botao_formulario{
    width: 100%;
    display: block;
    float: left;
    background-color: #b1d34b;
    border: black;
    color: #ece3d9;
    cursor: pointer;
    padding: 1em 80px;
    text-align: center;
    font-size: 1em;
    -webkit-border-radius: 4px ;
    border-radius: 4px;
    transition: 0,3s;
  }

  .header{
    margin: auto;
   
    width: 30%;
  }

  /*colunas*/


  #telefone{
    border-radius: 20px;
    height: 40px;
    text-align: center;
  }